<%- include("include/start.ejs") %>
<title>TrendCart</title>
<link rel="icon" href="images/icon.png">
<%- include("include/headbody.ejs") %>
<%- include("include/header.ejs") %>
<%- include("include/navbar.ejs") %>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<h1>This is my homepage.</h1>
<%- include("include/end.ejs") %>